body {
  background-color: rgba(95, 71, 109, 0.932);
}
 
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
#ahorcado {
  background-color: #d2c9e5;
  
}
#teclas-presionadas {
  position: relative;
  background-color: #c4aef3;
  border-style: none;
  border-radius: 20px;
  padding-left: 10px;
  height: 30px;
  width: 200px;
  margin-top: 500px;
  margin-left: 700px;
 
}
.aviso {
  font-size: 40px;
  position: relative;
  background: red;
  border-style: none;
  border-radius: 20px;
}
.avisoGanador{
  font-size: 40px;
  position: relative;
  background: rgb(142, 144, 236);
  border-style: none;
  border-radius: 20px;
}